NODE_ENV=development
PORT=4000
CLIENT_URL=
DATABASE_URL=
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d
OTP_EXPIRES_MINUTES=5
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
GROQ_API_KEY=
REDIS_URL=redis://localhost:6379
FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=
SPARROW_SMS_TOKEN=
SPARROW_SMS_FROM=BishwasSetu
KHALTI_SECRET_KEY=
ESEWA_SECRET_KEY=
ESEWA_PRODUCT_CODE=